$color-1: #ED6A5A;
$color-2: #F4F1BB;
$color-3: #9BC1BC;
$color-4: #5CA4A9;
$color-5: #E6EBE0;

// $success:       #17772F;
$primary:       $color-3;
$secondary:     $color-1;
// $info:          #37373A;
$warning:       $color-1;
$danger:        $color-1;
$light:         lighten($color-5, 15%);
// $dark:          black;

@import '~bootstrap/scss/bootstrap.scss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-size: 110%;
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: $light;
}

main {
  padding: 20px 0;
}

.container {
  max-width: 660px;
}

.hide {
  visibility: hidden
}

.alert {
  padding: .125rem;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: .125rem;
}

svg {
  width: 100%;
  fill: $secondary;
  stroke: $secondary;
}
